<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iframe</title>
    <!-- 引入 layui 样式文件 -->
    <link rel="stylesheet" href="../static/layui/src/css/layui.css">
</head>
<body style="overflow: hidden">
    <div class="layui-container layui-col-space2 layui-bg-gray" style="padding: 16px;">
          <button type="button" class="layui-btn" id="TO_index" onclick="parent.location.href='/'">
            <i class="layui-icon layui-icon-left"></i>点击继续检测
          </button>
        <div class="layui-row layui-col-space15">
            <!-- 左侧区域 -->
            <div class="layui-col-md6 " style="height: 90%">
                <div class="layui-card" style="height: 90%">
                    <div class="layui-card-header" >图片展示</div>
                    <div class="layui-card-body" style="display: flex; justify-content: center; align-items: center; background-color: #FFFFFF;">
                        <!-- 左侧栏内容 -->
                        <img src="{{ file_path }}" alt="uploaded_picture" style="max-width: 300px; height: auto">
                        <!-- 可以放置菜单、链接等 -->
                    </div>
                </div>
            </div>

            <!-- 右侧区域 -->
            <div class="layui-col-md6" style="height: 90%">
                <div class="layui-card" style="height: 90%">
                    <div class="layui-card-header">检测结果</div>
                    <div class="layui-card-body" style="width: 80%; margin: auto; padding: 70px 0;">
                        <!-- 右侧区域内容 -->
                        <div class="layui-text"> 结果为: {{ detect_res['class_name'] }}</div>
                        <div style="height: 10%"> </div>
                        <div class="layui-text">正确率： </div>
                        <div class="layui-progress layui-progress-big">
                            <div class="layui-progress-bar" style="text-align: center; width: {{ detect_res["class_prob"] }}; color: white;">{{ detect_res["class_prob"] }}
                            </div>
                        </div>
                        <!-- 可以放置主要内容、表格、图表等 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
