{% extends "guide.html"%}
{% block title %}我的{% endblock %}
{% block context %}
    <div class="layui-container layui-bg-gray">
        <div class="layui-card ">
            <div class="layui-card-header">
                修改你的信息
            </div>
            <div class="layui-card-body">
                <form action="/Change_info" method="post" id="Change_user_info" class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                      <label class="layui-form-label">修改邮箱</label>
                      <div class="layui-input-inline">
                        <input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input">
                      </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">验证手机号</label>
                        <div class="layui-input-inline layui-input-wrap">
                            <input type="tel" name="phone" lay-verify="required|phone" autocomplete="off" lay-reqtext="请填写手机号" lay-affix="clear" class="layui-input demo-phone">
                        </div>
                        <div class="layui-form-mid" style="padding: 0!important;">
                            <button type="button" class="layui-btn layui-btn-primary" lay-on="get-vercode">获取验证码</button>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">修改密码</label>
                    <div class="layui-input-inline layui-input-wrap">
                        <input type="text" name="password" lay-verify="required" autocomplete="off" lay-affix="clear" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">验证码</label>
                    <div class="layui-input-inline layui-input-wrap">
                        <input type="text" name="vercode" lay-verify="required" autocomplete="off" lay-affix="clear" class="layui-input">
                    </div>
                </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                              <button type="submit" class="layui-btn" lay-submit lay-filter="upload">立即提交</button>
                              <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                          </div>
            </form>
                {#body#}
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="../static/layui/dist/layui.js"></script>
    <script>
        layui.use(['form', 'laydate', 'util'], function(){
          var form = layui.form;
          var layer = layui.layer;
          var laydate = layui.laydate;
          var util = layui.util;

          // 自定义验证规则
          form.verify({
            pass: function(value) {
              if (!/(.+){6,12}$/.test(value)) {
                return '密码必须 6 到 12 位';
              }
            }
          });
          // 提交事件
          form.on('submit(upload)', function(data){
              var field = data.field; // 获取表单字段值
            // 显示填写结果，仅作演示用
              console.log(data);
              var form_da = document.getElementById('Change_user_info');
              var from_data = new FormData(form_da);
              console.log(from_data);
              layui.use("layer", function(){
                  var layer = layui.layer;
                  layui.$.ajax({
                      url: "/Change_info",
                      type: "post",
                      data: from_data,
                      processData: false,
                      contentType: false,
                      success: function(response) {
                          console.log(response);
                          layer.msg(response.state,{
                            {#skin: 'layui-layer-win10', // 这里替换为你自定义的样式类#}
                            icon: 1,
                            title: false
                            });
                        return false;
                    },
                    error: function() {
                        layer.msg("Error", {icon: 2});
                    }
                });
            });
            return false; // 阻止默认 form 跳转
          });

          // 普通事件
          util.on('lay-on', {
            // 获取验证码
            "get-vercode": function(othis){
              var isvalid = form.validate('.demo-phone'); // 主动触发验证，v2.7.0 新增
              // 验证通过
              if(isvalid){
                layer.msg('手机号规则验证通过');
                // 此处可继续书写「发送验证码」等后续逻辑
                // …
              }
            }
          });
        });
        </script>
{% endblock %}
